<div id="<%= dom_id approval %>">
  <p>
    <strong>Title:</strong>
    <%= approval.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= approval.body %>
  </p>

  <p>
    <strong>Pull request:</strong>
    <%= approval.pull_request_id %>
  </p>

</div>
