<div id="<%= dom_id change_request %>">
  <p>
    <strong>Title:</strong>
    <%= change_request.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= change_request.body %>
  </p>

  <p>
    <strong>Pull request:</strong>
    <%= change_request.pull_request_id %>
  </p>

</div>
